.DS_Store
vendor
wp
build
dist
bower_components
node_modules
app/plugins/*
!app/plugins/advanced-custom-fields-pro
!app/plugins/taxonomy-terms-order
!app/plugins/event-espresso-core-reg
!app/plugins/s1t2-*
app/themes/*/style.css
app/themes/*/scripts
app/themes/*/images
.buildpath
.project
.settings/
.env
.swp
.phpcomplete_extended/upgrade
app/upgrade

*.pem
*.ppk
